<div id="submission-batch-{{ batch_id }}" style="display: none;">
    {% for submission in submissions %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dummy_thumb submission" data-last-id="{{ batch_id }}">
            {% if submission.is_image %}
                {% include "reddit_api/submissions/image_submission.html" %}
            {% else %}
                {% include "reddit_api/submissions/text_submission.html" %}
            {% endif %}
        </div>
    {% endfor %}

    <script type="text/javascript">
        $(".submission").on("click", function (e) {
            window.location.hash = $(this).attr("data-last-id");
            var url = window.location;
            console.log(url + "");
            history.pushState({}, "", url);
        })
    </script>
</div>