Django==1.8.1
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
dj-database-url==0.3.0
dj-static==0.0.6
django-celery==3.1.16
gunicorn==19.3.0
honcho==0.6.6
kombu==3.0.26
praw==2.1.21
pyimgur==0.5.2
pytz==2015.2
requests==2.7.0
six==1.9.0
static3==0.6.0
update-checker==0.11
wsgiref==0.1.2
-e git+https://github.com/fhanspach/dj-secret-key-util#egg=secret_key_util
