{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'image_viewer/css/style.css' %}" type="text/css"/>
</head>
<body>
<div id="header">{% block header %}<h1>It worked.</h1>{% endblock %}</div>
<div id="content">
    {% block content %}
        <p style="text-align: center; margin-top: 1rem; font-size: 1.3rem; color: darkgray; font-weight: 100">
            Nothing here :(
        </p>
    {% endblock %}
</div>
</body>
</html>