{% extends 'image_viewer/index.html' %}

{% block content %}
<div class="container">

        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div> <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div> <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <p class="text-center">pics</p>
                </a>
            </div>
        </div>
{% endblock %}