
* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #242424;
}
textarea:focus, input:focus{
    outline: 0;
}

.submission_image_container.is-loading img {
    background-color: black;
    background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}

.submission_image_container.is-broken img {
    background-image: url('http://desandro.github.io/imagesloaded/assets/broken.png');
    background-color: #be3730;
    width: 120px;
}

.hidden {
    display: none;
}

img {
    background-color: black;
}

.clear {
    clear: both;
}

.submission_container_wrapper {
    width: 33%;
    margin: 2px 0;
    float: left;
}

.submission_image_container > a {
    padding-right: 1rem;
}

.submission_image_container.is-loading img,
.submission_image_container.is-broken img {
    opacity: 0;
    display: none;
}

#content.c100 > .submission_container_wrapper {
    width: 100%;
}

#content.c50 > .submission_container_wrapper {
    width: 50%;
}

#content.c33 > .submission_container_wrapper {
    width: 33%;
}

body {
    background-color: #e7e7e7;
    min-height: 101%;

}
#actions {
      float: right;
  line-height: 47px;
}
#header #top-input {
    margin-left: 1rem;
    line-height: 47px;
    border: none;
    background-color: #2980b9;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.0rem;
    text-transform: capitalize;
    color: whitesmoke;

}
#header .button:hover {
    color: #1f618d;
    background-color: #ffffff;
}
#header .button {
    float: left;
    display: block;
    padding: 0 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #1f618d;

}

#header {
    width: 100%;
    height: 47px;
    background-color: #2980b9;

}

#header > h1 {
    text-align: left;
    padding-left: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.0rem;
    text-transform: capitalize;
    color: whitesmoke;
    line-height: 47px;
    float: left;
}

.image {
    /*
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    */
}

.submission_inner_container.fav {
    border: 1px solid #26ab5e;
    background-color: #27ae60;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

}

.author_inner > a:hover {
    color: white;
}

.author_inner > a {
    color: #e4e4e4;
}

.author {
    display: none;
    padding: 3px 0;
}

.author_name {
    font-weight: 100;
    color: #f5f5f5;
}

.author_inner {
    text-align: center;
    padding: 5px 0;
}

.submission_inner_container:hover > .submission_title {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 98%;
}

.submission_inner_container:hover > .author {
    /*   border: 4px solid #3498db;
       background-color: #d7dde2; */
    display: block;
    position: absolute;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.5);
    width: 98%;
    padding: 0;
    margin: 0;

}

.submission_inner_container {
    /*border: 4px solid rgba(0, 0, 0, 0.13); */
    background-color: rgba(0, 0, 0, 0);
    /*-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;*/
    /*padding: 0.2rem 0.4rem 0.4rem;*/
    /*padding-bottom: 0.1rem;
    margin-bottom: 5px; */
}

.submission_container {
    margin: 2px;
}

a:hover {
    color: #3498db;
}

a {
    color: #242424;
    text-decoration: none;

}

.submission_title:hover {
    color: #717171 !important;
}

img {
    display: block;
}

.submission_title {
    padding: 3px;
    font-weight: lighter;
    font-size: 1.2rem;
    text-decoration: none;
    display: none;
    z-index: 100;
    bottom: 0;
    position: absolute;
    color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
}

.submission_title > a {
    color: #f5f5f5;
}

#content_wrapper {
    padding: 0 0 0 1rem;

}

#myreddits ul li {
    font-size: 0.8rem;
    float: left;
    list-style-type: none;
    margin: 5px;
    height: 1rem;
    font-weight: lighter;
}

#myreddits:hover {
    overflow: visible;
}

#myreddits {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    height: 1.9rem;
    text-transform: capitalize;
    overflow: hidden;
}

#header #star.fav {
    color: whitesmoke;
}

#header #star:hover {
    color: #8ab4db;
}

#header #star {
    cursor: pointer;
    color: #609fdb;
    float: right;
    font-size: 1.3rem;
    margin-top: -2.3rem;
    margin-right: 1rem;
}

.favorize:hover {
    color: #7e7e7e
}

.favorize {
    color: #a8a8a8
}

.page_button:hover {
    background-color: #5c95b9;

}

.page_button a {
    line-height: 50px;
    font-size: 1.7rem;
    font-family: monospace;

}

.page_button {
    background-color: #d1d1d1;
    height: 50px;
    width: 60%;
    margin: 0.7rem auto;

    text-align: center;
    display: block;
    cursor: pointer;
}

.text_submission_title {
    font-weight: lighter;
    font-size: 1.3rem;
}