{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ reddit.display_name|default_if_none:"List" }}| Reddit Image Viewer</title>
    <link rel="icon" type="image/x-icon" href="http://uploads.felix-hanspach.de/reddit_blue.ico?get">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600|Indie+Flower' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="{% static 'ui/css/style.css' %}" type="text/css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "ui/css/bootstrap.metro.min.css" %}"/>
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css"/>
    <script src="{% static "ui/js/bootstrap.min.js" %}"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <script type="text/javascript">
        $(document).ready(function () {
            $('#reddit_search_field').typeahead({
                name: 'reddits',
                prefetch: '/api/reddits/',
                limit: 10
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% include "ui/navigation.html" %}
    </div>
</nav>
{% if reddit %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12" style="padding-left: 0">
                <div class="pull-left">
                    <h2 style="margin-top: 0;">{{ reddit.title }}</h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pull-right">
                    <ul class="nav nav-pills ">
                        <li role="presentation"
                            class="{% if request.GET.display == 'hot' or not request.GET.display %}active{% endif %}"><a
                                href="?display=hot">Hot</a></li>
                        <li role="presentation" class="{% if request.GET.display == "new" %}active{% endif %}"><a
                                href="?display=new">New</a></li>
                        <li class="dropdown {% if request.GET.display == "top" %}active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                Top{% if request.GET.display == "top" %} of {{ request.GET.period }}{% endif %} <span
                                    class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="?display=top&period=day">Day</a></li>
                                <li><a href="?display=top&period=week">Week</a></li>
                                <li><a href="?display=top&period=month">Month</a></li>
                                <li><a href="?display=top&period=year">Year</a></li>
                                <li><a href="?display=top&period=all">All</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            {% if reddit.over18 %}
                <p>
                    <span data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="Over 18" class="submission_badge">
                        <span class="label label-danger">NSFW</span>
                    </span>
                </p>
            {% endif %}

            <p class="text-primary">
                {% if request.user.is_authenticated %}
                    <a href="#" id="follow_button"
                       class="follow-buttons {% if followed %}state-followed{% else %}state-not-followed{% endif %}">
                        <span class="follow btn btn-primary btn-xs"><span class="fa fa-check">&nbsp;</span>Follow</span>
                        <span class="followed btn btn-success btn-xs"><span
                                class="fa fa-check">&nbsp;</span>Followed</span>
                        <span class="unfollow btn btn-danger btn-xs"><span
                                class="fa fa-times">&nbsp;</span>Unfollow</span>
                    </a>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var $element = $("#follow_button");
                            $element.on("click", function () {
                                if ($element.hasClass("state-followed")) {
                                    $element.removeClass("state-followed");
                                    $element.addClass("state-not-followed");
                                    $.get("/reddit/{{ reddit.display_name }}/unfollow/");
                                    return;
                                }

                                if ($element.hasClass("state-not-followed")) {
                                    $element.removeClass("state-not-followed");
                                    $element.addClass("state-followed");
                                    $.get("/reddit/{{ reddit.display_name }}/follow/");
                                    return;
                                }
                            })
                        })
                    </script>
                {% endif %}
                <span><span class="fa fa-users"></span>&nbsp;{{ reddit.subscribers|intcomma }}</span>&nbsp;
                <span><span class="fa fa-calendar-times-o"></span>&nbsp;{{ reddit.date_created|timesince }}</span>&nbsp;
            </p>
            <hr/>
        </div>
    </div>
{% endif %}
<div class="container-fluid">
    <div class="row" id="load_prev" style="display: none; padding: 1rem;">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
            <a href="#" class="btn btn-primary btn-lg center-block" id="load_next_button"><span class="fa fa-arrow-up">&nbsp;</span>Load
                previous...</a>
        </div>
    </div>
    {% block content %}

        <div class="row" style="display: none">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info ">
                    <div class="panel-heading">Nothing found</div>
                    <div class="panel-body">
                        Here isn't any content.
                    </div>
                </div>
            </div>
        </div>

        <div class="row error-row" style="{% if not error_msg %}display: none{% endif %}">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger">
                    <div class="panel-heading" id="error-heading">{{ error_title }}</div>
                    <div class="panel-body" id="error-body">
                        {{ error_msg }}
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="submission_content"></div>
    {% endblock %}
    <div class="row hidden">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
            <a href="#" class="btn btn-primary btn-lg center-block" id="load_next_button">Load next...</a>
        </div>
    </div>

    <div class="row" id="loading-indicator" style="display: none;">
        <div class="col-md-8 col-md-offset-2">
            <h3>Loading submissions...</h3>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
            </div>
        </div>
    </div>

</div>
{% block page_scripts %}
    <script type="text/javascript">
        var last_post_id = null;
        var is_loading = false;
        var loading_images = 0;
        var submissions_queue = [];

        $(document).ready(function () {
            var error_handler = function (data) {
                is_loading = false;
                $loading_indicator.hide();
                $("#error-heading").html("<i class='fa fa-exclamation-triangle'></i> HTTP Status Code " + data.status + ": " + data.statusText);
                $("#error-body").html("The request to the server failed. <br/> <a href='#exception-text' data-toggle='collapse'>more...</a><div id='exception-text' class='collapse'><pre class='pre-scrollable'>" + data.responseText + "</pre></div>");
                $(".error-row").show();
                console.error(data.responseText)
            };

            var container = document.querySelector('#submission_content');

            var $loading_indicator = $("#loading-indicator");
            var msnry = new Masonry(container, {
                // options
                itemSelector: '.submission'
            });

            function get_current_parameters() {
                // FIXME replace this method with a state that works without reloading the page
                var parameter_string = {% spaceless %}"display={{ request.GET.display }}{% if request.GET.period %}&period={{ request.GET.period }}{% endif %}"{% endspaceless %}
                if (last_post_id != null) {
                    parameter_string += "&last=" + last_post_id;
                }
                return parameter_string
            }

            function load_submissions_from_api() {
                $loading_indicator.fadeIn();
                var url = "/reddit/{{ reddit.display_name }}?";
                url = url + get_current_parameters();
                if (loading_images > 100) {
                    console.warn("Too many requests... Waiting now");
                    while (loading_images > 100) {
                        console.log(loading_images)
                    }
                }
                is_loading = true;
                $.ajax(url, {
                    success: function (data) {
                        var $submissionContent = $('#submission_content');
                        last_post_id = data.last_post;
                        var batch_id = data.batch_id;
                        console.log("batch: " + batch_id)
                        $submissionContent.append(data.html);
                        msnry.layout();
                        is_loading = false;
                        submissions_queue.push(last_post_id);
                        if (submissions_queue.length > 4) {
                            window.location.hash = submissions_queue.shift();
                        }


                        var submission_thumbs = $(".image-thumb");
                        console.log("loading: " + last_post_id);
                        submission_thumbs.imagesLoaded(function () {
                        }).always(function () {
                            onAlwaysListener(batch_id)
                        });
                    },
                    error: error_handler
                });
            }

            function do_first_load() {
                if (window.location.hash != "") {
                    $("#load_prev").show();
                    last_post_id = window.location.hash.substring(1);
                    console.log("continue from " + last_post_id);
                }

                load_submissions_from_api();
            }

            if ($('#submission_content').is(':empty')) {
                do_first_load();
            }

            $("#load_next_button").on('click', function (e) {
                e.preventDefault();
                load_submissions_from_api();
            });

            var $search_field = $("#reddit_search_field");
            $search_field.on('keypress', function (e) {
                if (e.which == 13) {
                    var url_fragment = $search_field.val().replace(/\s+/g, '');
                    var url = "";
                    if ((/^\/r\//).test(url_fragment)) {
                        url = url_fragment
                    } else {
                        url = "/r/" + url_fragment + "/";
                    }

                    window.location.href = url;
                }
            });

            function onAlwaysListener(batch_id) {
                console.log("batch: " + batch_id);
                var selector = "#submission-batch-" + batch_id;
                console.log(selector);
                $(selector).show();
                onDoneLoad();
                $loading_indicator.fadeOut(600);
            }

            function onDoneLoad() {
                var container = document.querySelector('#submission_content');
                //$container.show();
                console.log("positioning...")
                var msnry = new Masonry(container, {
                    // options
                    itemSelector: '.submission'
                });
            }

            $(window).scroll(function (data) {
                if (is_loading) {
                    return;
                }

                var scroll_height = $(window).scrollTop() + $(window).height();
                var doc_height = $(document).height();
                var left = doc_height - scroll_height;
                var loading_scroll_time = $(window).height() * 3;
                if (left < loading_scroll_time) {
                    load_submissions_from_api();
                }
            });
        })
    </script>
{% endblock %}
</body>
</html>