{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon" type="image/x-icon" href="http://uploads.felix-hanspach.de/reddit_blue.ico?get">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600|Indie+Flower' rel='stylesheet'
          type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'ui/css/style.css' %}" type="text/css"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "ui/css/bootstrap.metro.min.css" %}"/>
    <script src="{% static "ui/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#reddit_search_field').typeahead({
                name: 'reddits',
                prefetch: '/api/reddits/',
                limit: 10
            });


        });
    </script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="fa fa-reddit"></span>&nbsp;reddit-viewer</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/list/"><span class="fa fa-list-ul"></span></a></li>

                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">{{ reddit.url|default:"My Reddits " }}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for reddit in popular_reddits %}
                            <li><a href="{{ reddit.url }}">{{ reddit.url }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
            </ul>


            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="reddit_search_field" type="text" class="form-control" placeholder="pics">
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="fa fa-sign-in"></span>&nbsp;Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Hot</a></li>
            <li role="presentation"><a href="#">New</a></li>

            <li role="presentation"><a href="#">Top</a></li>
        </ul>
    </div>
    {% block content %}

        <div class="row" style="display: none">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info ">
                    <div class="panel-heading">Nothing found</div>
                    <div class="panel-body">
                        Here isn't any content.
                    </div>
                </div>
            </div>
        </div>
        {% if error_msg %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-danger">
                        <div class="panel-heading">{{ error_title }}</div>
                        <div class="panel-body">
                            {{ error_msg }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row" id="submission_content"></div>
    {% endblock %}
    <div class="row" id="loading-indicator" style="display: none;">
        <div class="col-md-8 col-md-offset-2">
            <h3>Loading submissions...</h3>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var container = document.querySelector('#submission_content');

        var $loading_indicator = $("#loading-indicator");
        var msnry = new Masonry(container, {
            // options
            itemSelector: '.submission'
        });

        if ($('#submission_content').is(':empty')) {
            // first load
            $loading_indicator.fadeIn();
            $.get("/reddit/{{ reddit.display_name }}", function (data) {
                var $submissionContent = $('#submission_content');
                $submissionContent.append(data.html);
                msnry.layout();
                $submissionContent.imagesLoaded(function () {
                }).always(onDoneLoad);
            })
        }

        var $search_field = $("#reddit_search_field");
        $search_field.on('keypress', function (e) {
            if (e.which == 13) {
                var url_fragment = $search_field.val();
                var url = "";
                if ((/^\/r\//).test(url_fragment)) {
                    url = url_fragment
                } else {
                    url = "/r/" + url_fragment + "/";
                }

                window.location.href = url;
            }
        });

        function onDoneLoad() {
            var container = document.querySelector('#submission_content');
            //$container.show();
            var msnry = new Masonry(container, {
                // options
                itemSelector: '.submission'
            });
            $loading_indicator.fadeOut(600);
        };
    })
</script>
</body>
</html>