{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ reddit.display_name|default_if_none:"List" }}| Reddit Image Viewer</title>
    <link rel="icon" type="image/x-icon" href="http://uploads.felix-hanspach.de/reddit_blue.ico?get">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600|Indie+Flower' rel='stylesheet'
          type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'ui/css/style.css' %}" type="text/css"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "ui/css/bootstrap.metro.min.css" %}"/>
    <script src="{% static "ui/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#reddit_search_field').typeahead({
                name: 'reddits',
                prefetch: '/api/reddits/',
                limit: 10
            });


        });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% include "ui/navigation.html" %}
    </div>
</nav>
{% if reddit %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12" style="padding-left: 0">
                <div class="pull-left">
                    <h2 style="margin-top: 0;">{{ reddit.title }}</h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pull-right">
                    <ul class="nav nav-pills ">
                        <li role="presentation"
                            class="{% if request.GET.display == 'hot' or not request.GET.display %}active{% endif %}"><a
                                href="?display=hot">Hot</a></li>
                        <li role="presentation" class="{% if request.GET.display == "new" %}active{% endif %}"><a
                                href="?display=new">New</a></li>
                        <li class="dropdown {% if request.GET.display == "top" %}active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                Top{% if request.GET.display == "top" %} of {{ request.GET.period }}{% endif %} <span
                                    class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="?display=top&period=day">Day</a></li>
                                <li><a href="?display=top&period=month">Month</a></li>
                                <li><a href="?display=top&period=week">Week</a></li>
                                <li><a href="?display=top&period=year">Year</a></li>
                                <li><a href="?display=top&period=all">All</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            {% if reddit.over18 %}
                <p>
                    <span data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="Over 18" class="submission_badge">
                        <span class="label label-danger">NSFW</span>
                    </span>
                </p>
            {% endif %}

            <p class="text-primary">
                <span><span class="fa fa-users"></span>&nbsp;{{ reddit.subscribers|intcomma }}</span>&nbsp;
                <span><span class="fa fa-calendar-times-o"></span>&nbsp;{{ reddit.date_created|timesince }}</span>&nbsp;
            </p>
            <hr/>
        </div>
    </div>
{% endif %}
<div class="container-fluid">
    {% block content %}

        <div class="row" style="display: none">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info ">
                    <div class="panel-heading">Nothing found</div>
                    <div class="panel-body">
                        Here isn't any content.
                    </div>
                </div>
            </div>
        </div>

        <div class="row error-row" style="{% if not error_msg %}display: none{% endif %}">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-danger">
                    <div class="panel-heading" id="error-heading">{{ error_title }}</div>
                    <div class="panel-body" id="error-body">
                        {{ error_msg }}
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="submission_content"></div>
    {% endblock %}
    <div class="row" id="loading-indicator" style="display: none;">
        <div class="col-md-8 col-md-offset-2">
            <h3>Loading submissions...</h3>

            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var error_handler = function (data) {
            $loading_indicator.hide();
            $("#error-heading").html("<i class='fa fa-exclamation-triangle'></i> HTTP Status Code " + data.status + ": " + data.statusText);
            $("#error-body").html("The request to the server failed. <br/> <a href='#exception-text' data-toggle='collapse'>more...</a><div id='exception-text' class='collapse'><pre class='pre-scrollable'>" + data.responseText + "</pre></div>");
            $(".error-row").show();
            console.error(data.responseText)
        };

        var container = document.querySelector('#submission_content');

        var $loading_indicator = $("#loading-indicator");
        var msnry = new Masonry(container, {
            // options
            itemSelector: '.submission'
        });

        function get_current_parameters() {
            // FIXME replace this method with a state that works without reloading the page
            return "display={{ request.GET.display }}{% if request.GET.period %}&period={{ request.GET.period }}{% endif %}"
        }

        if ($('#submission_content').is(':empty')) {
            // first load
            $loading_indicator.fadeIn();
            var url = "/reddit/{{ reddit.display_name }}?";
            url = url + get_current_parameters();
            $.ajax(url, {
                success: function (data) {
                    var $submissionContent = $('#submission_content');
                    $submissionContent.append(data.html);
                    msnry.layout();
                    $submissionContent.imagesLoaded(function () {
                    }).progress(onDoneLoad).always(onDoneLoad);
                },
                error: error_handler
            });
        }

        var $search_field = $("#reddit_search_field");
        $search_field.on('keypress', function (e) {
            if (e.which == 13) {
                var url_fragment = $search_field.val().replace(/\s+/g, '');;
                var url = "";
                if ((/^\/r\//).test(url_fragment)) {
                    url = url_fragment
                } else {
                    url = "/r/" + url_fragment + "/";
                }

                window.location.href = url;
            }
        });

        function onDoneLoad() {
            var container = document.querySelector('#submission_content');
            //$container.show();
            var msnry = new Masonry(container, {
                // options
                itemSelector: '.submission'
            });
            $loading_indicator.fadeOut(600);
        };
    })
</script>
</body>
</html>