{% extends 'ui/index.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for reddit in popular_reddits %}
                <div class="col-lg-2 col-md-2 col-xs-4">
                    <a class="thumbnail" href="#">
                        <div style="height: 100px; overflow: hidden;">
                            <img class="img-responsive" src="{{ reddit.get_image_url }}" alt="">
                        </div>
                        <p class="text-center">{{ reddit.url }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}