.submission > .well > h3 {
    margin-top: 0.5rem;
}

.submission_badge {
    cursor: default;
}

.loading-error-icon {
    display: none;
}

.loading-indicator.error-state > div > h3 {
    color: darkred;
}

.loading-indicator.error-state > div > .loading-error-icon {
    display: inline;
}

/* image submission style states */
.image-thumb-loaded > .image-thumb {
    display: inherit;
}

.image-thumb-loaded > .image-full, .image-full-loaded-error > .image-full {
    display: none;
}

.image-full-loaded > .image-thumb {
    display: none;
}

.image-full-loaded > .image-full {
    display: inherit;
}

.image-full-loaded > .image-loading-indicator, .image-full-loaded-error > .image-loading-indicator {
    display: none;
}

.image-loading-indicator {
    display: block;
    margin-top: -5.5rem;
    padding: 10px;
    color: #f5f5f5;
    font-size: 3rem;
}

.image-error-indicator {
    display: none;
}

.image-full-loaded-error > .image-error-indicator {
    display: block;
    margin-top: -5.5rem;
    padding: 10px;
    font-size: 3rem;
}

.reddit-tile-background {
    position: absolute;
    overflow: hidden;
    top: -0.5vw;
    left: -5px;
    bottom: -5px;
    right: -20px;

    -webkit-filter: blur(4px) opacity(0.5);
    filter: blur(4px) opacity(0.5);
    -moz-filter: blur(4px) opacity(0.5);
    -o-filter: blur(4px) opacity(0.5);
}

.reddit-tile-footer {
    position: absolute;
    bottom: 35px;
    right: 0;
}

.reddit-tile-link {
    height: 170px;
    padding-left: 0 !important;
    overflow: hidden;
    background-color: #121212 !important;
}